.col-md-6
  %h2.underlined-h2.add-margin-bot= t(:billing_address)
  .row
    .col-md-8
      = show_errors(@billing_address, :billing_form)
      = form_for @billing_address, url: address_path(current_user),  html: {class: "nifty_form", method: "patch"} do |f|
        = render partial: "users/partials/billing_shipping", locals: {address: @billing_address, form: 'billing_form'.to_sym, type: 'billing', resource: @resource, user: current_user, shipping: false, f: f}