%h2.underlined-h2 Remove account
= button_to "Please remove my account", registration_path('user'), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary disabled', id: 'remove_button', name: 'remove_accaunt_checkbox'
= check_box_tag 'remove_accaunt_checkbox', 'false'
%em#em_delete (all your data will be lost)